{% extends "base.html" %} {% block content %}
<div class="row">
  <!-- Sidebar navigation for dashboard -->
  <div class="col-md-3">
    <div class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
      <a class="nav-link text-dark bg-light" href="{% url 'dashboard' %}">Dashboard</a>
      <a class="nav-link text-dark bg-light" href="#">Create Post</a>
      <a class="nav-link text-dark bg-light" href="#">Manage Posts</a>
      <a class="nav-link text-dark bg-light" href="#">Profile</a>
    </div>
  </div>
  <!-- Main content area for dashboard -->
  <div class="col-md-9">
    <div class="row">
      <div class="col">
        <div class="card border-default mb-3">
          <div class="card-header text-center text-uppercase">All Categories</div>
          <div class="card-body text-dark">
            <h5 class="card-title text-center">{{ categories_count }}</h5>
          </div>
        </div>
      </div>
        <div class="col">
        <div class="card border-default mb-3">
          <div class="card-header text-center text-uppercase">All Blogs</div>
          <div class="card-body text-dark">
            <h5 class="card-title text-center">{{ blogs_count }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
