{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ blog.title }}</h1>
        <p class="lead">{{ blog.subtitle }}</p>
        <p>{{ blog.short_description }}</p>
        <p class="text-muted">By {{ blog.author }} | {{ blog.created_at|date:"F j, Y" }}</p>
        {% if blog.featured_image %}
          <img src="{{ blog.featured_image.url }}" class="img-fluid mb-4" alt="{{ blog.title }}">
        {% endif %}
        <div class="blog-content">
          {{ blog.blog_body|safe }}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}