{% extends 'base.html' %}

{% block content %}

      <h3 class="mb-4 font-italic" style="color: #333;">{{ category.category_name }} Posts</h3>
      <div class="row mb-2">
        {% for post in blogs %}
        <div class="col-md-6">
          <div class="card border-0">
            <div class="card-body">
              <h3>{{ post.title }}</h3>
              <small class="mb-1 text-muted">{{ post.created_at| timesince }} | {{ post.author }}</small>
              <p class="card-text">
                {{ post.short_description |truncatewords:25}}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- /.container -->
    </div>
    {% endblock content %}